/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }


  /*The navbar that lines the top of the page*/
  .navbar_top {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .navbar_top_list {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
    .navbar_top_list .navbar_top_list_name {
        display: none;
    }