/* Global Layout Set-up */
* {box-sizing:border-box;}
    /* Global body, link, and link hover set-up */
    body {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: white;
        background: #00BFFF;
    }
    a {
        text-decoration: none;
        color: #0499ff;
    }
    a:hover {
        color: #6633ff;
    }


    /*The navbar that lines the top of the page*/
    .navbar_top {
        width: 100%;
        background: black;
        min-height: 30px;
        padding: 10px;
        position: fixed;
        text-align: center;
    }
    .navbar_top_list {
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }
    .navbar_top_list .navbar_top_list_name {
        color: rgb(255, 191, 0);
    /*    display: none;    */
    }


    /*The heading section at the top of the page*/
    h1 {    
        /*Technically this is a global thing, but
        I'm only going to use h1 in the header.*/
        color: white;
        text-shadow: -1px -1px 0 black,
                     1px -1px 0 black,
                     -1px 1px 0 black,
                     1px 1px 0 black;
    }
    header {
        text-align: center;
        background: url('images_home/stock_bg_digital.jpg') no-repeat top center ;
        background-size: cover;
        background-color: white;
        margin-bottom: 10px;
        overflow: hidden;
        padding-top: 60px;
    }
    header .profile_picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 10px solid white;
    /*    transition: all 120s;     */          /*This is how the example does it and it doesn't work properly (for me).*/
    }
    header .profile_picture:hover {
        transition: all 120s;                   /*This is how I do it and it does work. Go figure.*/
        transform: scale(1.2) skewX(-30deg);    /*-10 deg, 120sec transit for really trippy imperceptible slowness XD*/
    }
    header .profile_tag {
        border: solid black 3px; 
        border-radius: 5px;
        width: fit-content;                     /*<== this*/
        margin: 10px auto;                      /*Syntax for margin/padding: top&bottom left&right;*/
        padding: 10px;                          /*1,3,& 4-value syntaxes also exist for differing levels of customisation*/ 
        color: white;
        background-color: #00BFFF;
    }
    .Section_1 {
        color: rgb(24, 24, 24);
        background: rgb(226, 226, 226);
        width: 90%;
        max-width: 600px;
        margin: 15px auto;
        padding: 20px 10px 0px;
    }
    .Section_1 p {
        margin: 0px;
        padding-top: 0px; padding-bottom: 20px;
    }
    .Section_1 h2 {
        margin: 0px;
        padding-top: 0px; padding-bottom: 20px;
    }
    .Section_1 ul {
        margin: 0px;
        padding-top: 0px; padding-bottom: 20px;
    }
/*Now I'm learning about margin collapse!*/
/*And about how the default margin-padding sizes can effect your formatting*/

/*Here you can see how I've had to pad out the section and the individual elements
in the section to get everything to format correctly*/

/*I'm sure there's some property that can deal with this automatically, but damned
if I know what it is.*/

    .gradient_arb {
        background-image: linear-gradient(rgb(57, 57, 119), green);
    }
    /* DON'T. FORGET. THE FUCKING. COMMA.*/

    .Section_2 {
        color: rgb(24, 24, 24);
        background: rgb(226, 226, 226);
    }

    footer {
        background: black;
        width: 100%;
        min-height: 30px;
        padding: 20px 0 40px 20px;
      }